body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logoText {
  font-size: 100px;
  /* Adjust the size as needed */
  color: #61dafb;
  /* This is the light blue color used elsewhere, adjust as needed */
  font-weight: bold;
  margin-bottom: 30px;
  /* Creates some space between the logo text and the buttons below */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Optional: Adds a subtle shadow for depth */
}